@import "../../Assets/css-variables/colors.scss";

.page-title {
  margin: 24px;
  font-size: 19px;
  color: white;
}
.addNewRecord-section {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 75px);
  align-items: center;
  justify-content: center;
  & > div[class$="-col"] {
    width: 50%;
    height: 100%;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  & .description-col {
    background-color: $lightgrey;

    text-align: left;
    & h1 {
      font-size: 46px;
    }
    & h5 {
      font-size: 18px;
    }
    & section {
      width: 430px;
    }
  }
  & .addNewRecord-col {
    background-color: $white;
    & > div[class$="-box"] {
      width: 200px;
      height: 90px;
      min-height: 90px;
      background-color: $white;
      box-shadow: 0px 3px 6px -1px $dimgrey;
      border-radius: 3px;
      margin: 20px;
      display: flex;
      flex-direction: row;
      &:hover {
        box-shadow: 0px 6px 12px -1px $dimgrey;
        cursor: pointer;
      }
      & > div[class$="-wrapper"] {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      & .icon-wrapper {
        flex-grow: 1;
        align-items: center;
      }
      & .title-wrapper {
        flex-grow: 2;
        text-align: left;
        & p {
          margin: 0;
        }
      }
    }
  }
}
