@import "../../Assets/css-variables/colors.scss";
body {
  background-color: $lightgrey;
}
.Search {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $lightgrey;
  & .logoTitle-box {
    width: 23%;
    height: 100%;
    display: inherit;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
    font-size: 20px;
    color: white;
  }
  & .searchField-box {
    width: 65%;
    display: flex;
    align-items: center;
    flex-direction: row;
    & span.searchIcon-wrapper {
      position: relative;
      font-size: 1em;
      margin-right: -2em;
    }
<<<<<<< HEAD
    & .searchButton-wrapper {
      position: relative;
      font-size: 1em;
      &.active:hover {
        & button {
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.3);
=======
    & .searchField-box {
      width: 65%;
      display: flex;
      align-items: center;
      flex-direction: row;
      & span.searchIcon-wrapper {
        position: relative;
        font-size: 1em;
        margin-right: -2em;
      }
      & .searchButton-wrapper {
        position: relative;
        font-size: 1em;
        &.active:hover {
          & button {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.3);
          }
        }
        & button {
          background-color: transparent;
          border: none;
          font-size: 1em;
          font-weight: bold;
          margin-left: -100px;
          color: $lightgrey;
          padding: 13px;
          outline: none;
          border-radius: 1px;
>>>>>>> 7ccd0bf1d2cc01765fbfba369bcc659ee2143924
        }
      }
      & button {
        background-color: transparent;
        border: none;
        font-size: 1em;
        font-weight: bold;
        margin-left: -100px;
        color: $lightgrey;
        padding: 13px;
        outline: none;
        border-radius: 1px;
      }
    }
    & .searchField {
      width: 100%;
      background-color: transparent;
      border-width: 0 0 1px 0;
      border-color: $lightgrey;
      outline: none;
      font-size: 1.4em;
      padding: 10px 100px 10px 10px;
      direction: ltr;
      color: $lightgrey;
      padding-left: 2em;
    }
  }
  & .addNewRecord-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 12%;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    padding: 0 37px;
    box-sizing: border-box;
    & a {
      display: block;
      width: 60px;
      height: 60px;
    }
    & a:hover {
      cursor: pointer;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  & .searchBody-section {
    display: flex;
    width: 100%;

    flex-wrap: wrap;
    & .menu-section {
      width: 23%;
      height: calc(100vh - 75px);
    }
    & .contentBody-section {
      width: 77%;
      display: flex;
      flex-direction: column;
      & .dataInfoTable-section {
        width: 800px;
        flex-direction: column;
        height: calc(100vh - 75px);
        display: flex;
        padding-left: 20px;
        padding-top: 7%;
        & .resultCount {
          padding: 10px 20x;
          font-size: 17px;
          display: block;
          text-align: left;
          width: 200px;
          padding: 10px 0;
        }
        & .table {
          box-shadow: 0 0 7px -4px $dimgrey;
          border: none;
          border-radius: 2px;
          width: 800px;
          text-align: left;
          direction: ltr;
          & th {
            color: $white;
            font-size: 14px;
            font-weight: bold;
<<<<<<< HEAD
            &.sort:hover {
              cursor: pointer;
            }
=======
>>>>>>> 7ccd0bf1d2cc01765fbfba369bcc659ee2143924
          }
          & td {
            color: $dimgrey;
            border-right: 2px solid $lightgrey;
          }
          & tr {
            & th:first-child,
            td:first-child {
              width: 5%;
            }
          }
          & thead {
            background-color: $skyblue;
          }
          & tbody {
            & tr {
              &:nth-child(2n + 1) {
                background-color: $white;
              }
            }
          }
        }
        & .tablePagination-section {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 70px;
          width: 102%;
          & span.navigation {
            font-size: 18px;
            color: $dimgrey;
            font-weight: 400;
            padding: 10px;
            line-height: 1;
            &:not(.deactive):hover {
              background-color: rgba(255, 255, 255, 0.6);
              border-radius: 30px;
              cursor: pointer;
            }
            &.deactive {
              visibility: hidden;
            }
          }
          & .pageButton-wrapper {
<<<<<<< HEAD
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 70%;
            height: 60px;
            & span.pageButton {
              margin: auto 5px;

              & button {
                border-radius: 50%;
                border: none;
                background-color: transparent;
                width: 36px;
                height: 36px;
                text-align: center;
                outline: none;
                &:not(.active):hover {
                  background-color: $white;
                  background-color: rgba(255, 255, 255, 0.6);
                  cursor: pointer;
                }
                &.active {
                  background-color: $white;
                  box-shadow: 0 3px 6px -2px #6f6f6f;
                }
=======
            & span.pageButton {
              border-radius: 50%;
              margin: auto 5px;
              padding: 10px 14px;
              &:not(.active):hover {
                background-color: rgba(255, 255, 255, 0.6);
                cursor: pointer;
              }
              &.active {
                background-color: $white;
                box-shadow: 0 3px 6px -2px #6f6f6f;
>>>>>>> 7ccd0bf1d2cc01765fbfba369bcc659ee2143924
              }
            }
          }
        }
      }
    }
  }
}
